body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  align-content: center;
}

img {
  align-content: center;
}

nav a {
  left: 10px;
  right: 10px;
  color: red;
}

figcaption {
  align-content: center;
  font-size: small;
}


